*
{
    margin: 0;
    font-family: 'IBM Plex Sans', serif;
    color: #fff;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url(assets/bg.webp);
}